html {
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  transition: 1s;
}
.site-container {
  min-height: 100vh;
}

.main {
  flex: 1;
}

.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-links a:hover {
  color: #ff8000;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
/* Home Screen  */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.rating span {
  color: rgb(253, 195, 49);
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2.5rem;
  font-weight: bold;
}
.product-rating {
  margin-bottom: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.title {
  font-size: 3rem;
}

.nav-style {
  box-shadow: 0 8px 6px -6px #999;
}
.nav-dropdown1 {
  color: #0275d8;
  font-size: 1.5rem;
  font-weight: 600;
}

.main-header {
  font-weight: 500;
}
.footer-basic {
  padding: 20px 0;
  background-color: #0275d8;
  color: white;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: white;
  opacity: 0.8;
  margin-bottom: 0;
}

/* sss */

.item {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 420px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.item .img-box {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: 1s;
}

.item .img-box img {
  display: block;
  width: 100%;
  margin: 0 auto 0;
  transition: 1s;
}

.details {
  position: absolute;
  bottom: -175px;
  width: 100%;
  background: #fff;
  padding: 10px;
  padding-top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: 1s;
}

.details h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
}

.details h2 span {
  font-size: 12px;
  color: #bbb;
  font-weight: normal;
}

.details .price {
  position: absolute;
  top: 0;
  right: 25px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1rem;
}

.item label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
}

.item ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;
}

.item ul li {
  list-style: none;
  margin: 5px 5px 0;
  font-size: 12px;
  font-weight: normal;
  color: #bbb;
  transition: 0.7s;
}

.item ul li:hover {
  cursor: pointer;
  color: #333;
  transition: 0.7s;
}

.item ul li:first-child {
  margin-left: 0;
}

.item ul.colors li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.item ul.colors li:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.item ul.colors li:nth-child(1) {
  background: grey;
}

.item ul.colors li:nth-child(2) {
  background: black;
}

.item ul.colors li:nth-child(3) {
  background: rgb(13, 140, 13);
}

.item a {
  display: block;
  color: #fff;
  margin: 0 0 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: 1s;
}

.item a:hover {
  background: #666;
  transition: 1s;
}

.item:hover .details {
  overflow: visible;
  bottom: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.item:hover .img-box {
  position: absolute;
  bottom: 60px;
  transition: 3s;
}

.item:hover h2,
.item:hover .price {
  padding-top: 20px;
  padding-bottom: 0;
}
.abc {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn-product {
  margin-top: 1rem;
}
.acc {
  margin-left: 2px;
}

/* button custom */
